.bubble {
  border-radius: 1em;
  padding: 0.25em 0.75em;
  margin: 0.0625em;
  max-width: 50%;
}

.sender {
  align-self: flex-start;
  background-color: cornflowerblue;
  color: #fff;
}
.recipient {
  align-self: flex-end;
  background-color: #efefef;
}

.sender.first {
  border-bottom-left-radius: 0.1em;
}
.sender.last {
  border-top-left-radius: 0.1em;
}
.sender.middle {
  border-bottom-left-radius: 0.1em;
  border-top-left-radius: 0.1em;
}

.recipient.first {
  border-bottom-right-radius: 0.1em;
}
.recipient.last {
  border-top-right-radius: 0.1em;
}
.recipient.middle {
  border-bottom-right-radius: 0.1em;
  border-top-right-radius: 0.1em;
}
